.container {
    display: grid;
    grid-template-columns: 300px 3fr 1fr;
    grid-template-rows: 80px calc(100vh - 80px);
}

/* Whole Top */
.header {
    grid-area: Header;
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    /* Nested Grid for the header */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* Lower Top */
.lower-head {
    grid-column: 1 / 4;
    grid-row: 2 / 3;

    /* FlexBox to align Profile/Buttons on bottom row of header grid */
    display: flex;
    gap: 20px;
}

.lower-head p {
    margin-right: auto;
}

.sidebar {
    /* Placement on MAIN GRID */
    grid-row: 1 / span 2;

    /* Nested grid for SB Elements */
    display: grid;
    grid-template-rows: 80px 1fr;
}

.links {
    /* Double Nested Grid for the links */
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.main {
    grid-column: 2 / span 2;
}