body {
    margin: 0;

    /* MAIN color var */
    --MAIN: rgb(56, 119, 255);
}

.container {
    display: grid;
    grid-template-columns: 250px 3fr 1fr;
    grid-template-rows: 100px calc(100vh - 80px);
}

/* Whole Top */
.header {
    grid-area: Header;
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    /* Nested Grid for the header */
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px 1fr;
    align-items: center;
}

header {
    display: flex;
}

label img {
    width: 1.5rem;
    margin-left: 5px;
    margin-right: 5px;
}

input[type=search] {
    /* Remove Default browser based styling */
    appearance: none;
    background-color: rgb(238, 238, 238);
    width: 65%;
    height: 1.6rem;
    border-radius: 12px;
}

.account {
    display: flex;
    align-items: center;
}

.account .bell {
    width: 1.3rem;
}

.account .pro-pic {
    scale: .5;
}

.profile {
    grid-row: 2 / 3;
    height: 42px;

    /* Flex for placement within the header grid cell */
    display: flex;
    align-items: center;

    /* Place generated content relative to container */
    position: relative;
}

.profile img {
    margin-left: 25px;
    scale: .7;
}

.profile span {
    margin-left: 25px;
    margin-top: 10px;
    font-size: 1.5rem;
}

/* Generated content relative to container */
.profile span::before {
    content: 'Hi there, ';
    font-size: .9rem;
    position: absolute;
    top: -.5ch;
    left: 115px;
}

/* Container Holding Buttons */
.btns {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    /* Flexbox will keep buttons placed adjacent to each other instead of wrapping on smaller screens */
    display: flex;
    justify-content: space-around;
}

/* Actual Buttons */
.btns button {
    margin-right: 10px;
    height: 1.6rem;
    width: 60px;

    background-color: var(--MAIN);
    color: white;
    border-radius: 12px;
}

.lower-head p {
    margin-right: auto;
}

.sidebar {
    /* Placement on MAIN GRID */
    grid-row: 1 / span 2;

    /* Nested grid for SB Elements */
    display: grid;
    grid-template-rows: 80px calc(100vh - 80px); /* TEMP NEEDS TO BE FIXED */
    background-color: var(--MAIN);
    color: white;
    font-size: 1.3rem;
}

ul {
    list-style: none;
}

li {
    padding: 15px;
}

.links {
    /* Double Nested Grid for the links */
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.main {
    /* Place in Main Page Grid */
    grid-column: 2 / span 2;

    /* Nested Grid for content elements */
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;

    background-color: rgb(238, 238, 238);
}

.content {
    grid-row: 1 / span 2;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 40px 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;

    margin-left: 10px;
}

.head {
    /* Place Head in top row spanning all columns */
    grid-column: 1 / -1;

    /* Formatting stuff */
    height: 40px;
    background-color: rgb(238, 238, 238);

    /* Flex for placement within Grid Cell */
    display: flex;
    align-items: flex-end;
}

.news, .trend {
    display: grid;
    grid-template-rows: 50px auto;
}

.card {
    height: 200px;
    border-left: 5px solid #ff6a6a;

    /* Create Grid on cards to align the three elements they contain -- Heading, Content, and Icons */
    display: grid;
    grid-template-rows: 20px auto 40px;
}

.card p {
    margin-bottom: 0;
    padding: 5px;
}

.card .icons {
    justify-self: flex-end;
}

.card .icons img {
    width: 1.5rem;
    margin-left: 5px;
    margin-right: 5px;

    cursor: pointer;
}

/* Items below headings of side content */
.items {
    padding: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}

/* Slight border dividing the 3 announcements */
.news .items div:nth-child(2) {
    border-top: 1px solid rgba(198, 198, 198, 0.874);
    border-bottom: 1px solid rgba(198, 198, 198, 0.874);
}

.news .items div:nth-child(n + 2) {
    padding-top: 10px;
}

.card,
.items {
    background-color: white;
    border-radius: 10px;
}